{% load staticfiles %}
<html>
    <head>
        <title>Imanol Loizaga Entrenador</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css"  %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static "css/clean-blog.min.css"  %}">

        <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Imanol Loizaga</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right sidebar-nav">
                      <li>
                          <a href="/">Inicio</a>
                      </li>
                      <li>
                          <a href="/blog">Blog</a>
                      </li>
                      <li>
                          <a href="/about">Sobre mi</a>
                      </li>
                      <li>
                        <a a href="/projects">Proyectos</a>
                      </li>
                      <li>
                        <a a href="/contact">Contacto</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li>
                          <a href="{% url "blog.views.post_new" %}">Nueva entrada</a>
                      </li>
                      <li>
                        <a href="/admin">Admin</a>
                        </li>
                        <li>
                            <a href="/accounts/logout">Cerrar sesión</a>
                        <li/>
                        {% else %}
                        <li>
                        <a href="/accounts/login/">login</a>
                        </li>
                      {% endif %}
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
     <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
    <header class="intro-header"
        {% block header-img %}
            style="background-image: url('{% static "img/nature2.jpg"  %}')"
        {% endblock %}>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <div class="site-heading">
                          <img src="http://static.wixstatic.com/media/74dc82_02944a50f1bd4b14a612e2431879ff35.png_srb_p_128_128_75_22_0.50_1.20_0.00_png_srb" class="center-block img-circle img-responsive"/>
                          <hr class="small">
                          <span class="subheading">IMANOL LOIZAGA</span>
                          CAMPEÓN DE ESPAÑA MARATÓN VETERANOS<br/>
                          <h4>ENTRENADOR ATLETISMO</h4>
                      </div>
                  </div>
              </div>
          </div>
    </header>

    <div class="container">

                <div class="row">
                    <h4>
                        {% block navigation %}
                        {% endblock %}
                    </h4>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        {% autoescape off %}
                            {% block content %}
                            {% endblock %}
                        {% endautoescape %}
                    </div>
                    <div class="col-sm-3">

                        <h4>Categorias</h4>
                        <ul>
                            {% for cat in post_categorys %}
                                <li><a href="/post/category/{{ cat.0 }}">{{ cat.1 }}</a></li>
                            {% endfor %}
                        </ul>
                        <!--<h4>Pr&oacute;ximos eventos</h4>
                        <div class="panel-group" id="accordion">

                          {% for event in events %}
                              <div class="panel panel-default">
                              <div class="panel-heading">
                                   <h4 class="panel-title" data-toggle="collapse" data-target="#collapse{{forloop.counter}}">
                                       {{event.name}}
                                   </h4>

                              </div>
                              <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                                  <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
                              </div>
                          </div>
                          {% endfor %}
                        </div>-->
                        <br/>
                        {% block friends%}

                        {%  endblock %}

            </div><!--/.col-xs-12 -->
        </div><!--/.row -->
        <div class="row">
            <h3>Próximos eventos</h3><br/>
          {% for event in events %}
          <div class="col-sm-4">
            <!--event in class-->
            <div class="thumbnail">
              <div class="overlay"></div>
              <img class="img-responsive" alt="alternative text" src="{{event.logotype}}">
            </div>
            <span class="label label-info date">{{event.celebrate_data.date}}</span>
            <span class="label label-primary">{{event.type}}</span>
            <span class="label label-danger">
                {% if event.price == 0 %}
                    GRATIS
                {% else %}
                    {{event.price}} €
                {% endif %}
            </span>
            <p>
              <strong><a href="{{event.url}}" target="_blank">{{event.name}}</a></strong><br>
              <em>
                 <i class="fa fa-map-marker"></i>
                <a href="http://www.google.com/maps/place/{{event.location.latitude}},{{event.location.longitude}}/@{{event.location.latitude}},{{event.location.longitude}},14z" target="_blank">
                     {{event.location.name}}
                </a>
              </em>
              <br/>
              <span class="small">{{event.celebrate_data}}</span>
            </p>
            {% if user.is_authenticated and user.get_username == "anartzmugika"%}
                <a class="btn btn-default" href="{% url "event_edit" pk=event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
    </div><!--/.container -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/ImanolLoizaga" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/imanoloizaga?fref=ts" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCnC3m9g5IqovpFuWpC2qbFw" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>


                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Imanol Loizaga Entrenador <script> document.write(new Date().getFullYear())</script></p>
                    {% if user.is_authenticated %}
                      <p class="copyright text-muted"><a href="/admin">Administration</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
    <!-- Menu Toggle Script -->
    <script>
    $(".navbar-toggle").click(function(e) {
        e.preventDefault();
        $("#bs-example-navbar-collapse-1").toggle(700);
    });

    </script>
        <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'></script>-->
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
       <!-- jQuery -->

      <!-- Bootstrap Core JavaScript -->
      <!--<script src="{% static "js/bootstrap.min.js" %}"></script>-->

      <!-- Custom Theme JavaScript -->
      <!--<script src="{% static "js/clean-blog.min.js" %}"></script>-->
    </body>
</html>
