{% extends "blog/base.html" %}
{% load staticfiles %}
{% block header-img %}

    style="background-image: url('{% static "img/nature.jpg"  %}')"

{% endblock %}

{% block navigation %}
    Est&aacute;s en: <a href="{% url "blog.views.principal" %}">Inicio</a> / <a href="{% url "blog.views.post_list" %}">Blog</a> / {{post.title|slice:"0:15"|lower}} ...
{% endblock navigation %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated and user.get_username == "anartzmugika" or user.is_authenticated and user.get_username == "iloizaga" %}
        <a class="btn btn-default" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ post.description}}
        </h3>
        <p>{{ post.text | linebreaks }}</p>
        {% if post.source != '' %}
        <p> M&aacute;s informaci&oacute;n: <a href = "{{post.source}}">{{post.source_title}}</a></p>
        {% endif %}
    </div>
{% endblock %}

